@font-face {
  font-family: "Arabic-med";
  src: url("../assets/font/Loew Next Arabic Medium.otf");
}

@font-face {
  font-family: "Arabic-bold";
  src: url("../assets/font/Loew Next Arabic ExtraBold.otf");
}

.title-1 {
  font-size: 25px;
}

.title-2 {
  font-size: 18px;
}

.bigTitle {
  font-size: 57px;
}

.medTitle {
  font-size: 50px;
}

.txt-center {
  text-align: center;
}

.txt-1 {
  font-size: 15px;
}

.txt-2 {
  font-size: 13px;
}

.main-color {
  color: #4b57c2;
}

.second-color {
  color: #464343;
}

.third-color {
  color: #c9c9c9;
}

.main-bg {
  background-color: #4b57c2;
}

.second-bg {
  background-color: #464343;
}

.third-bg {
  background-color: #c9c9c9;
}

.py-2 {
  padding: 2rem 0;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Arabic-med';
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
html {
  min-height: 100%;
  width: 100%;
  direction: rtl;
}

.section-content {
  min-height: 100%;
  width: 100%;
}

.clean-hack {
  clear: both;
}

.menu {
  display: none;
}

.navigation {
  padding: 2rem 10px;
  border-bottom: 1px solid #f1f1f1;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  z-index: 1000;
  top: 0;
}

.navigation .content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.navigation .list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation .list-link .close-button {
  display: none;
}

.navigation .list-link .active a {
  color: #4b57c2;
}

.navigation .link {
  font-family: 'Arabic-med';
  font-weight: 500;
  font-size: 15px;
}

.navigation .brand {
  font-size: 25px;
  font-family: 'Arabic-bold';
  font-weight: 700;
}

.link {
  color: #1d1d1d;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.link:hover {
  color: #4b57c2;
}

.container {
  display: block;
  max-width: 1320px;
  margin: 0 auto;
  min-height: 100%;
}

.body-content {
  margin: 0 auto;
  max-width: 750px;
  padding: 1em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
}

.body-content .heading {
  font-size: 57px;
  margin: 0 auto 2rem;
  display: inline-block;
}

.body-content .heading .address-name,
.body-content .heading .address-name span {
  font-size: 0.9em;
  margin: 0;
  font-weight: 600;
}

.body-content .heading .title {
  font-size: 1em;
  font-family: 'Arabic-bold';
  font-weight: 700;
}

.body-content .heading .title-ar {
  font-size: 1.1em;
  margin: -23px 0;
}

.body-content .heading .title-en {
  letter-spacing: -3px;
  font-size: 0.84em;
  color: #686868;
}

.body-content .para {
  font-size: 15px;
  color: #626262;
  text-align: center;
  line-height: 2.8;
}

.footer-content {
  padding: 3em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-content .bg-bunner {
  width: 600px;
  display: inline-block;
  height: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.footer-content .list-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: calc(100% - 600px);
  height: 401px;
}

.footer-content .list-color .item-color {
  -ms-flex-preferred-size: 98px;
      flex-basis: 98px;
  display: block;
}

.title-main {
  font-size: 57px;
  font-family: 'Arabic-bold';
  font-weight: 700;
  position: relative;
}

.title-main::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -0.5em;
  height: 0.2em;
  background-color: #4b57c2;
  width: 2.5em;
}

.section-skill .body-content {
  max-width: 85%;
}

.list-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 9em 0 2em;
  width: 100%;
}

.list-skills .skill-item {
  font-size: 16px;
  padding: 13px 1.5em;
  -webkit-box-shadow: 2px 9px 20px -9px rgba(0, 0, 0, 0.22);
          box-shadow: 2px 9px 20px -9px rgba(0, 0, 0, 0.22);
  text-align: center;
  -ms-flex-preferred-size: 136px;
      flex-basis: 136px;
  border-radius: 5px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.list-skills .skill-item img {
  width: 75%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.list-skills:nth-child(1) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/js.png");
  background-size: cover;
}

.list-skills:nth-child(2) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/webpack.svg");
  background-size: cover;
}

.list-skills:nth-child(3) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/asp.svg");
  background-size: cover;
}

.list-skills:nth-child(4) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/sass.svg");
  background-size: cover;
}

.list-skills:nth-child(5) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/css.svg");
  background-size: cover;
}

.list-skills:nth-child(6) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/html.svg");
  background-size: cover;
}

.list-skills:nth-child(7) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/node.svg");
  background-size: cover;
}

.list-skills:nth-child(8) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/jquery.svg");
  background-size: cover;
}

.list-skills:nth-child(9) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/mongodb.svg");
  background-size: cover;
}

.list-skills:nth-child(10) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/xd.svg");
  background-size: cover;
}

.list-skills:nth-child(11) .image-skill {
  width: 100%;
  height: 100%;
  background-image: url("../assets/icon/git.svg");
  background-size: cover;
}

.bunner-log {
  margin: 0 auto;
  width: 420px;
  background-color: #393737;
  border-radius: 10px;
  color: white;
  padding: 0;
}

.bunner-log .head-bunner {
  background-color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em 1em;
  border-radius: 10px 10px 0 0;
}

.bunner-log .head-bunner .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
}

.bunner-log .head-bunner .circle:nth-child(1) {
  background-color: #eb4040;
}

.bunner-log .head-bunner .circle:nth-child(2) {
  background-color: #d1aa28;
}

.bunner-log .head-bunner .circle:nth-child(3) {
  background-color: #25bc67;
}

.bunner-log #codeWrite {
  padding: 2rem 3em;
  text-align: left;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.bunner-log #codeWrite span {
  font-family: inherit;
  font-size: 95%;
  color: #da7e20;
}

.content-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 3em 0;
}

.content-project .project {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 5rem 0 0;
}

.content-project .image-project {
  width: 89%;
  border-radius: 10px;
  background-color: gray;
  height: 530px;
}

.content-project .title-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 50px;
}

.content-project .title-project .name-project {
  font-size: 1em;
  line-height: 1.5;
}

.content-project .title-project .link-project {
  font-size: 15px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 220px;
}

.content-project .title-project .arrow-icon {
  display: inline-block;
  width: 45px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin-right: 25px;
}

.about-me .about-content {
  margin: 5rem 0;
}

.about-me .about-content .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-me .about-content .image .img-me {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
}

.about-me .about-content .image .img-me img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  -o-object-position: top;
     object-position: top;
}

.about-me .about-content .image .about {
  margin-right: 20px;
}

.about-me .about-content .image .about .my-name {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: 'Arabic-bold';
  font-weight: 700;
}

.second-desc, .question-section .answer {
  color: grey;
}

.question-section {
  margin: 2rem 0;
  border-radius: 10px;
  -webkit-box-shadow: 2px 9px 20px -9px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 9px 20px -9px rgba(0, 0, 0, 0.1);
  padding: 2em 3em;
}

.question-section .question-txt {
  font-family: 'Arabic-bold';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  color: #4b57c2;
}

.question-section .answer {
  line-height: 2.8;
}

.question-section .list-answer {
  list-style: disc;
  margin-right: 20px;
}

.container-last {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.ftr {
  background-color: #464343;
  padding: 4rem 0 5rem;
}

.ftr .title-main {
  color: white;
  margin-top: -1rem;
}

.ftr .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ftr .list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ftr .list-contact .item {
  margin: 0 4rem;
}

.ftr .list-contact .item .item-link {
  color: white;
}

.ftr .list-contact .item .item-link .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.ftr .list-contact .item .item-link .label .title {
  color: #f1f1f1;
}

.ftr .list-contact .item .item-link .label img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.ftr .list-contact .item .item-link .desc {
  font-size: 15px;
  text-align: left;
}

@media (max-width: 450px) {
  .brand {
    margin-right: auto;
  }
  .menu {
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    cursor: pointer;
  }
  .menu img {
    width: 100%;
    height: 100%;
  }
  .list-link {
    display: none !important;
    position: relative;
    right: -112px;
  }
  .list-link.active {
    position: absolute;
    width: 109%;
    height: 100vh;
    background: white;
    top: 0;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    right: -12px !important;
    padding: 1rem;
    overflow: hidden;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .list-link.active > * {
    margin: 1rem 0;
  }
  .list-link.active .close-button {
    display: block !important;
    margin-top: -8rem;
    margin-right: auto;
    -webkit-transform: translate(50px, 81px) !important;
            transform: translate(50px, 81px) !important;
  }
  .list-link.active .close-button button {
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    font-size: 44px;
    color: #888888;
    cursor: pointer;
  }
  .list-link.active .close-button button:hover {
    color: black;
  }
}
/*# sourceMappingURL=index.css.map */